body{
    background-color: #FEF0DC;
}
.formats_wrapper{
    display: flex;
    box-sizing: content-box;
    width: 76%;
    justify-content: space-between;
    align-items: flex-start;;
    margin: auto;
    flex-direction: column;
    margin-top: 10.36vw;
    margin-bottom: 10vw;
    font-family: 'SHelvetica_regular', sans-serif;
}
.formats-block-1{
    background-color: #C03334;  
    padding: 3.13vw 3.65vw;
    border-radius: 3.91vw; 
    filter: drop-shadow(0 0.21vw 0.21vw rgba(0,0,0,0.25));
}
.formats-block-1 p{
    font-size: 1.77vw;
    color: #FEF8DC;
    margin: 0 auto;
    line-height: 2.45vw;
    filter: drop-shadow(0 0.16vw 0.16vw rgba(0,0,0,0.25));
}
.formats-block-1 strong{
    font-family: 'Hlebozavod_medium', sans-serif;
    font-size: 2.86vw;
    font-weight: 100;
}
.formats-block-set{
    display: flex;
    margin-top: 3.13vw;
    margin-bottom: 3.13vw;
    justify-content: space-between;
}
.formats-block-set p{
    font-size: 1.46vw;
}
.formats-block-2 {
    width: 46.7%;
    background-color: #F8E2C7;
    border-radius: 3.91vw;
    padding: 2.24vw 3.28vw;
    filter: drop-shadow(0 0.21vw 0.21vw rgba(0,0,0,0.25));
    border: 0.26vw solid #C74C49;
}
.formats-block-2  p{
    color: #2A0206;
    margin: 0 auto;
    line-height: 2.08vw;
}
.formats-block-2 strong{
    font-family: 'Hlebozavod_medium', sans-serif;
    font-size: 2.29vw;
    font-weight: 100;
}
.formats-block-3{
    width: 33.9%;
    background-color: #C74C49;
    border-radius: 3.91vw;
    padding: 2.24vw 2.55vw;
    filter: drop-shadow(0 0.21vw 0.21vw rgba(0,0,0,0.25));
}
.formats-block-3  p{
    color: #FEF0DC;
    margin: 0 auto;
    line-height: 2.08vw;
    filter: drop-shadow(0 0.16vw 0.16vw rgba(0,0,0,0.25));
}
.formats-block-3 strong{
    font-family: 'Hlebozavod_medium', sans-serif;
    font-size: 2.29167vw;
    font-weight: 100;
}
@media only screen and (max-width: 768px){
    .formats_wrapper{
        width: 93%;
    }
    .formats-block-1{
        padding: 8vw 8vw;
        margin-bottom: 4.5vw;
        margin-top: 4.5vw;
        border-radius: 8vw;
    }
    .formats-block-1 p{
        font-size: 5vw;
        line-height: 7vw;
    }
    .formats-block-1 strong{
        font-size: 7vw;
    }
    .formats-block-set{
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 0;
    }
    .formats-block-2{
        width: 100%;
        padding: 8vw 8vw;
        margin-top: 4.5vw;
        margin-bottom: 4.5vw;
        border-radius: 8vw;
        border: 0.8vw solid #C74C49;
    }
    .formats-block-2 p{
        font-size: 5vw;
        line-height: 7vw;
    }
    .formats-block-2 strong{
        font-size: 7vw;
    }
    .formats-block-3{
        width: 100%;
        padding: 8vw 8vw;
        margin-top: 4.5vw;
        margin-bottom: 4.5vw;
        border-radius: 8vw;
    }
    .formats-block-3 p{
        font-size: 5vw;
        line-height: 7vw;
    }
    .formats-block-3 strong{
        font-size: 7vw;
    }
}