.timetable_wrapper{
    display: flex;
    box-sizing: content-box;
    width: 83.33%;
    margin: 0 auto;
    flex-direction: column;
}
.timetable_wrapper h1{
    font-family: 'Hlebozavod_medium', sans-serif;
    font-size: 3.65vw;
    color: #2A0206;
    font-weight: 100;
    margin-top: 13.65vw;
    margin-bottom: 50.47vw;
}
@media only screen and (max-width: 768px){
    .timetable_wrapper h1{
        font-size: 8vw;
        margin-top: 25vw;
        margin-bottom: 70vw;
    }
}